  <h1>Check the scale you want</h1>

  <img src="https://media.giphy.com/media/kHs1lBhZWaK5rj7lt3/giphy.gif">

  <h2>Scales</h2>
  <ul>
  {{#each scales}}
    <li>
      {{@key}}: {{this}}
    </li>
  {{/each}}
  </ul>